<%- include('header.ejs', { title: "Home Page" }) %>
  <div class="container">
    <div class="content">
      <% if (user) { %>
        <p>Welcome <%= user.display_name %>
        </p>
        <%}%>

          <h1>Messages</h1>
          <p>Message Count: <%= messageCount %>, User Count: <%= userCount%>
          </p>
          <% if (user) { %>

            <p>
              <a href="/message-create">Create a new Message</a>
            </p>
            <%} else {%>
              <p>Please log in to create a new message</p>
              <%}%>
                <% messageList.forEach(message=> { %>
                  <div class="message-container">

                    <p class="message-text">
                      <%= message.text %>
                    </p>
                    <% if (user) {%>

                      <% if (user.member) {%>
                        <div class="message-detail">

                          <p class="message-user">
                            Created by: <%= message.display_name %>
                          </p>
                          <p class="message-date">
                            <%= message.date_created.toLocaleString() %>
                          </p>
                        </div>
                        <%}%>
                          <div class="message-edit">

                            <% if (user.username===message.user) { %>
                              <a href="/message-create">Edit message</a>
                              <%}%>
                                <% if (user.admin || user.username===message.user) {%>
                                  <a href="/message-delete/<%= message._id %>">Delete message</a>
                                  <%}%>
                          </div>
                          <%} else {%>
                            <p>Please sign in to see user, date created</p>
                            <%}%>
                  </div>
                  <% }) %>
    </div>
  </div>

  <%- include('footer.ejs') %>
