<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <% messages.forEach(function(obj) { %>
    <h2>
      <%= obj.user %>
    </h2>
    <p>
      <%= obj.text %>
    </p>
    <p>
      <%= obj.added %>
    </p>
    <% }) %>
</body>

</html>
